  <div class="flex m-1 row justify-between">
<div class="flex col-3 ms-5 justify-center align-items-center " style="background-color: white">
<div>
  <img style="position: relative;top:60px;" src="../../../assets/Diagramme sans nom.drawio (7).png">
  <div class="row" style="position: relative; bottom:200px; left:35px;width:150px;">
  <a class="btn btn-dark m-1"><i class="fa-brands fa-github me-2"></i>Github <i class="fa-solid fa-arrow-right ms-4"></i></a>
  <a class="btn btn-danger m-1"><i class="fa-brands fa-linkedin me-2"></i>Linkedin <i class="fa-solid fa-arrow-right ms-3"></i></a>
    <a class="btn btn-primary m-1"><i class="fa-brands fa-facebook me-2"></i>Facebook<i class="fa-solid fa-arrow-right ms-3"></i></a>
</div>
  </div>
</div>
<div class="col-8 me-5 "style="background-color: white;">
  <h1 class="m-2">Customize your links</h1>
  <p class="m-2">Add/edit/remove links below and then share all your profiles with the world!</p>
  <button type="button" class="btn btn-outline-primary btn-lg btn-block w-100 m-1" ><i class="fa-solid fa-plus me-2"></i>Add new link</button>
 <div class="row w-100 m-1">
  <div class="h-50 mb-2" style="background-color: gainsboro;">
    <div class="card-body">
      <div class="row justify-content-between m-2 w-100">
        <div class="col-2">
      <h5 class="card-title">Link #1</h5>
      </div>
      <div class="col-2">
      <a href="#" class="card-link">Remove</a>
      </div>
      </div>
    <form>
      <div class="form-group m-2">
        <label for="exampleInputEmail1">Platform</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option><i class="fa-brands fa-github">Github</i></option>
            <option>Linkedin</option>
            <option>Facebook</option>
            <option>Instagram</option>
          </select>
      </div>
      <div class="form-group m-1">
        <label for="exampleInputPassword1">Link</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Link" disabled style="background-color: white;">
      </div>
    </form>

    </div>
  </div>
  <div class="h-50 mb-2" style="background-color: gainsboro;">
    <div class="card-body">
      <div class="row justify-content-between m-2 w-100">
        <div class="col-2">
          <h5 class="card-title">Link #1</h5>
        </div>
        <div class="col-2">
          <a href="#" class="card-link">Remove</a>
        </div>
      </div>
      <form>
        <div class="form-group m-2">
          <label for="exampleInputEmail1">Platform</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option><i class="fa-brands fa-github">Linkedin</i></option>
            <option>Github</option>
            <option>Facebook</option>
            <option>Instagram</option>
          </select>
        </div>
        <div class="form-group m-2">
          <label for="exampleInputPassword1">Link</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Link" disabled
            style="background-color: white;">
        </div>
      </form>
    </div>
  </div>
  <hr class="w-100 mt-1 mb-2">
  <div class="row justify-content-end mb-2">
    <div class="col-1">
    <button type="button" class="btn btn-primary" style="background-color: rgba(121, 58, 203, 0.8);; color:white;">Save</button>
</div>
  </div>
</div>
</div>
