<nav class="bg-gray-300 ms-5 me-5 m-4" style="background-color: white;border-radius: 10px;">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <div class="flex flex-shrink-0 items-center me-5  ">
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
          alt="Your Company">
        <h1 class="m-2" style="font-weight: bold;">Devlinks</h1>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-center">

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a href="/" class="text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page"
              style="background-color:rgba(121,58,203,0.2);color: #793ACB;"><i
                class="fa-solid fa-link me-1"></i>Links</a>
            <a href="/profile" class="text-gray-500 rounded-md px-3 py-2 text-sm font-medium"><i
                class="fa-regular fa-user me-1"></i> Profile Details</a>

          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <a href="/preview" class="text-gray-500 rounded-md px-5 py-2 text-sm font-medium"
          style="border:2px solid   rgba(121,58,203,0.6);color:rgba(121,58,203)" aria-current="page">Preview</a>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="/" class=" block rounded-md px-3 py-2 text-base font-medium" aria-current="page"
        style="color:rgba(121,58,203,0.9);background-color: rgba(121,58,203,0.2);"><i
          class="fa-solid fa-link me-2"></i>Links</a>
      <a href="/profile" class="text-gray-500 block rounded-md px-3 py-2 text-base font-medium"><i
          class="fa-regular fa-user me-2"></i>Profile Details</a>

    </div>
  </div>
</nav>

  <div class="twodivs flex m-1 row justify-between">
<div class="firstDiv flex col-3 ms-5 justify-center align-items-center " style="background-color: white">
<div>
  <img style="position: relative;top:60px;" src="../../../assets/Diagramme sans nom.drawio (7).png">
  <div class="row" style="position: relative; bottom:200px; left:35px;width:150px;">
  <a class="btn btn-dark m-1"><i class="fa-brands fa-github me-2"></i>Github <i class="fa-solid fa-arrow-right ms-4"></i></a>
  <a class="btn btn-danger m-1"><i class="fa-brands fa-linkedin me-2"></i>Linkedin <i class="fa-solid fa-arrow-right ms-3"></i></a>
    <a class="btn btn-primary m-1"><i class="fa-brands fa-facebook me-2"></i>Facebook<i class="fa-solid fa-arrow-right ms-3"></i></a>
</div>
  </div>
</div>
<div class="secondDiv col-8 me-5 "style="background-color: white;">
  <h1 class="m-2">Customize your links</h1>
  <p class="m-2">Add/edit/remove links below and then share all your profiles with the world!</p>
  <!-- Button trigger modal -->
  <button type="button"  class="btn btn-outline-primary btn-lg btn-block w-100 m-1" (click)="openAddModel()" ><i class="fa-solid fa-plus me-2"></i>Add new link</button>
 <div class="row w-100 m-1">
  <div class="h-50 mb-2" style="background-color: gainsboro;"  *ngFor="let a of arr">
    <div class="card-body">
      <div class="row justify-content-between m-2 w-100" >
        <div class="col-2" >
      <h5 class="card-title">Link #1</h5>
      </div>
      <div class="col-2">
      <a href="#" class="card-link">Remove</a>
      </div>
      </div>
      <div class="form-group m-2">
        <label for="exampleInputEmail1">Platform</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option><i class="fa-brands fa-github"></i>{{a.platform}}</option>
          </select>
      </div>
      <div class="form-group m-1">
        <label for="exampleInputPassword1">Link</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="{{a.link}}" disabled style="background-color: white;">
      </div>

    </div>
  </div>

  <hr class="w-100 mt-1 mb-2">
  <div class="row justify-content-end mb-2">
    <div class="col-1">
    <button type="button" class="btn btn-primary" style="background-color: rgba(121, 58, 203, 0.8);; color:white;">Save</button>
</div>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <form #form="ngForm">

      <div class="modal-body">
        <div class="form-control">
          <label for="exampleInputEmail1">Platform</label>
            <select class="form-control" id="exampleFormControlSelect1" name="platform" [(ngModel)]="platform.platform">
              <option><i class="fa-brands fa-linkedin"></i>Linkedin</option>
              <option>Github</option>
              <option>Facebook</option>
              <option>Instagram</option>
            </select>
        </div>
        <div class="form-control">
          <label for="exampleInputPassword1">Link</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Link" name="link"  [(ngModel)]="platform.link">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveLink(form)" [disabled]="form.invalid">Save changes</button>
      </div>
            </form>

    </div>

  </div>
</div>
