* {
  border-radius: 10px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

button {
  color: rgba(121, 58, 203, 0.9);
  border: 2px solid rgba(121, 58, 203, 0.4);
  ;
}

button:hover {
  background-color: rgba(121, 58, 203, 0.9);
  color: white;
  border: 2px solid rgba(121, 58, 203, 0.4);
  ;
}

a:hover {
  color: rgba(121, 58, 203, 0.9)
}
.profile-picture  {
  width:250px;
  height:200px;
}
@media screen and (max-width: 1180px) {

  .twoDivs {
    display:flex;
    flex-wrap: wrap;
    margin: 50px;
  }

  .firstDiv {
    width: 89%;
    margin: 10px;

  }

  .secondDiv {
    width: 89%;
    margin: 40px;
  }
}
